/ibus
/microsoft-edge
/microsoft-edge-dev
/libfm
/light
/matplotlib
/menus
/nautilus
/nitrogen
/Notepadqq
/notion-app
/obs-studio
/pa-applet
/pcmanfm
/Postbird
/procps
/pulse
/qBittorrent
/scroll
/slock
/Slack
/spotifyd
/spotify-tui
start-page.zip
/start-page/ter*
/systemd
/TabNine
/Thunar
/totem
/transmission-remote-gtk
/'Unknown Organization'
/vlc
/VSCodium
/xfce4
/yay
zoomus.conf
use*
moni*
/autostart
/evolution
/gtk*
/Ever*
/discord
/google-chrome
/Code*
/cust*
/gnome*
/htop
/parce*
/pavu*
/flameshot
start-page.*

