/ibus
/microsoft-edge
/microsoft-edge-dev
/libfm
/light
/matplotlib
/menus
/brillo
/nautilus
/nitrogen
/Notepadqq
/notion-app
/obs-studio
/pa-applet
/pcmanfm
/Postbird
/procps
/pulse
/qBittorrent
/scroll
/slock
/Slack
/spotifyd
/spotify-tui
start-page.zip
/start-page/ter*
/systemd
/TabNine
/Thunar
/totem
/transmission-remote-gtk
/Unknown*
/vlc
/VSCodium
/xfce4
/yay
zoomus.conf
use*
moni*
/autostart
/evolution
/gtk*
/Ever*
/discord
/google-chrome
/chromium
/Code*
/cust*
/cmus
/gnome*
/htop
/parce*
/pavu*
/flameshot
/autostart
/dconf
/kde.org
/neofetch
/nitrogen
/pamixer
/parcellite
/procps
/pulse
/qt5ct
/session
/volumeicon
/yay
/jamesdsp
start-page.*
akregatorrc
baloofileinformationrc
dolphinrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kdeglobals
kdenlive-layoutsrc
kdenliverc
kglobalshortcutsrc 
kmixrc
krunnerrc
kwinrc
kwinrulesrc
mimeapps.list
pavucontrol.ini
QtProject.conf
starship.toml
kscreenlockerrc
kglobalshortcutsrc
kmixrc
